html {
}
/* fonts */
body {
  font-family: 'Average Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Fjalla One', sans-serif;
}
/* resets */
div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: center;
}
/* colors and decor */
a, a:link, a:visited, a:hover, a:active {
  color: #478cc6;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.company, .degree, .university {
  font-weight: 700;
}
.dates { 
			color: #4c5156;
			font-style: italic;
		}
h1, h2, h3, h4, h5, h6 {
  color: #0057a8;
}
h2 {
  color: #4c5156;
}
/* lists */
li {
  content: '';
}
ul {
  list-style-type: none;
}
ul.inline, ul.inline li {
  display: inline;
}
  
ul.inline li:before {
  content: '';
}
ul.inline li:after {
  content: ', ';
}
ul.inline li.last:after {
  content: '';
}
#personal_info {
  padding-bottom: 1.5rem;
}
/* Smartphones (portrait) ----------- */
/* iPhone 5 */
@media only screen 
and (max-width : 320px) {
  .col-full + .col-full {
    border-top: 1px solid #87c0ea;
    margin: -1px 0 0;
  }
  .col-full {
    padding-top: 1.5rem;
  }
  .col-right {
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
  }
  h1, h2, h3, .company, .dates {
    text-align: center;
  }
  h1 > .hideNarrow, .role > .hideNarrow {
    display: none;
  }
  h1 > .name, h1 > .role, .company, .dates  {
    display: block;
  }
  h1 > .role {
    font-size: 2.0625rem;
  }
  #skill-list, #personal_info {
    text-align: center;
  }
  #online > li > .name, #online > li > a {
    display: block;
    text-align: center;
  }

}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2) { 
  body {
  }

}

/* Portrait */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (orientation: portrait)  
and (-webkit-min-device-pixel-ratio: 2) {

  body {
  }
  .col-full + .col-full {
    border-top: 1px solid #87c0ea;
    margin: -1px 0 0;
  }
  .col-full {
    padding-top: 1.5rem;
  }
  .col-right {
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
  }
  h1, h2, h3, .company, .dates {
    text-align: center;
  }
  h1 > .hideNarrow, .role > .hideNarrow {
    display: none;
  }
  h1 > .name, h1 > .role, .company, .dates  {
    display: block;
  }
  h1 > .role {
    font-size: 2.0625rem;
  }
  #skill-list, #personal_info {
    text-align: center;
  }
  #online > li > .name, #online > li > a {
    display: block;
    text-align: center;
  }
}

/* Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) { 
}

/* small window on a screen */
@media only screen
and (min-width: 600px)
and (max-width: 690px) {
  .role .hideNarrow {
    display: none;
  }
}
/* small window on a screen */
@media only screen
and (min-width: 600px)
and (max-width: 879px) {

  body {
    margin: 0 auto;
    max-width: 620px;
    padding: 1.5rem;
  }
  .col-left { 
    padding-top: 1.5rem;
  }
  .col-right {
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
  }
  .col-left + .col-right {
    padding-top: 0;
  }
  .col-full + .col-full, .col-right + .col-right {
    border-top: 1px solid #87c0ea;
    margin: -1px 0 0;
  }
  .company, .site, .university {
    float: left;
  }
  .dates {
    float: right;
  }
  .description {
    clear: both;
  }
  #name  {
    text-align: center;
  }
  #online > li > .name:after {
    content: ': ';
  }
  #personal_info div {
    float: left;
    width: 33%;
  }
  #personal_info .phone {
    text-align: center;
  }
  #personal_info .website {
    text-align: right;
  }
  #header {
    padding-bottom: 1.5rem;
    display: block;
  }
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 880px) {
  body {
    margin: 0 auto;
    max-width: 860px;
    padding: 1.5rem;
  }
  .col-full {
    float: left;
    width: 100%;
  }
  .col-left { 
    float: left; 
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    width: 20%; 
  }
  .col-right {
    float: right;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    width: 80%;
  }
  .col-full + .col-full, .col-right + .col-right {
    border-top: 1px solid #87c0ea;
    margin: -1px 0 0;
  }
  .col-left h2 {
    margin-bottom: 0;
    margin-top: 0;
  }
  .company, .site, .university {
    float: left;
  }
  .dates {
    float: right;
  }
  .description { 
    clear: both;
  }
  /*
  .skills li {
    background-color: #478cc6; 
    border-radius: .25rem;
    color: #f4f4f4;
    display: inline;
    font-size: .8rem;
    font-weight: 600;
    line-height: 1.75rem;
    margin-bottom: .3rem;
    padding: .2rem .6rem .3rem;
    white-space: nowrap; 
  }
  */
  #name  {
    float: left;
  }
  #online > li > .name:after {
    content: ': ';
  }
  #personal_info {
    float: right;
  }
}
@media only print {
  /* adjusted gridlover css for printing */
  body {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
  h1 {
    font-size: 2.0625rem;
    line-height: 2.25rem;
    margin-bottom: 0rem;
  }
  h2 {
    font-size: 1.5rem;
    line-height: 2.25rem;
    margin-top: 1.125rem;
    margin-bottom: 1.125rem;
  }
  h3 {
    font-size: 1.0625rem;
    line-height: 1.125rem;
    margin-top: 1.125rem;
    margin-bottom: 0rem;
  }
  h4 {
    font-size: 0.75rem;
    line-height: 1.125rem;
    margin-top: 1.125rem;
    margin-bottom: 0rem;
  }
  h5 {
    font-size: 0.75rem;
    line-height: 1.125rem;
    margin-top: 1.125rem;
    margin-bottom: 0rem;
  }
  p, ul, ol, pre, table, blockquote {
    margin-top: 0rem;
    margin-bottom: 1.125rem;
  }
  /* regular css */
  body {
    margin: 0 auto;
  }
  .col-full {
    float: left;
    width: 100%;
  }
  .col-left { 
    float: left; 
    padding-top: 1.125rem;
    width: 20%; 
  }
  .col-right {
    float: right;
    width: 80%;
  }
  .col-full + .col-full, .col-right + .col-right {
    border-top: 1px solid #87c0ea;
    margin: -1px 0 0;
    padding-bottom: 0;
    padding-top: 0;
  }
  #skills .col-left {
    padding-top: 0.5625rem;
  }
  #skills .col-right {
    padding-bottom: 1.125rem;
    padding-top: 1.125rem;
  }
  .col-left h2 {
    margin-bottom: 0;
    margin-top: 0;
  }
  /*
  .avoid-break {
    page-break-inside: avoid;
  }
  */
  .company, .site, .university {
    float: left;
  }
  .dates {
    float: right;
  }
  .description {
    clear: both;
  }
  #online {
    margin-top: 1.125rem;
  }
  #online > li > .name:after {
    content: ': ';
  }
  #name  {
    float: left; 
  }
  #personal_info {
    float: right;
  }
  .company, .degree, .university {
    font-weight: 400;
    color: #4c5156;
  }
}
