html {
}
body {
  font-family: 'Average Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Fjalla One', sans-serif;
}
div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: center;
}
/* some color stuff  */
a, a:link, a:visited, a:hover, a:active {
  color: #478cc6;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.company, .degree, .university {
  font-weight: bold;
}
.dates { 
			color: #4c5156;
			font-style: italic;
		}
h1, h2, h3, h4, h5, h6 {
  color: #0057a8;
}
h2 {
  color: #4c5156;
}
li {
  content: '';
}
ul {
  list-style-type: none;
}
ul.inline, ul.inline li {
  display: inline;
}
  
ul.inline li:before {
  content: '';
}
/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
  .col-full + .col-full {
    border-top: 1px solid #87c0ea;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
  }
  h1, h2 {
    text-align: center;
  }
  h1 > .hideNarrow, .role > .hideNarrow {
    display: none;
  }
  h1 > .name, h1 > .role  {
    display: block;
  }
/*
  h1 > .name {
    background-color: #87c0ea;
    border-bottom: 1px solid rgba(71, 140, 198, 1);
    color: #fff;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    text-shadow: 1px 1px 1px rgba(0, 87, 168, 1); 
  }
*/
  h1 > .role {
    font-size: 2.0625rem;
  }
  #personal_info {
    text-align: center;
  }
}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Portrait */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) { 
  body {
    background-color: green;
  }
  h1 {color: #fc0; }
}

/* Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) { 

  body {
    background-color: orange;
  }
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
  body {
    margin: 0 auto;
    max-width: 760px;
    padding: 1.5rem;
  }
  .col-full {
    float: left;
    width: 100%;
  }
  .col-left { 
    float: left; 
    padding-top: 1.5rem;
    width: 25%; 
  }
  .col-right {
    float: right;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    width: 75%;
  }
  .col-full + .col-full, .col-right + .col-right {
    border-top: 1px solid #87c0ea;
    margin: -1px 0 0;
  }
  .col-left h2 {
    margin-bottom: 0;
    margin-top: 0;
  }
  .company, .site, .university {
    float: left;
  }
  .dates {
    float: right;
    margin-right: .1rem;
  }
  .description { 
    clear: both;
  }
  /*
  .skills li {
    background-color: #478cc6; 
    border-radius: .25rem;
    color: #f4f4f4;
    display: inline;
    font-size: .8rem;
    font-weight: 600;
    line-height: 1.75rem;
    margin-bottom: .3rem;
    padding: .2rem .6rem .3rem;
    white-space: nowrap; 
  }
  */
  #name  {
    float: left;
  }
  #personal_info {
    float: right;
  }
  #wrapper {
    padding: 0;
    overflow: hidden;
    position: relative;
  }
}
